<% include partials/header.ejs %>
<div class="container">
    <% if (message) { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>

    <% if (cliente) { %>
        <form class="add-player-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="nome" value="<%= cliente.nome %>" readonly >
                </div>
                <div class="form-group col-md-4">
                    <label for="datanascimento">Data de nascimento</label>
                    <input type="text" class="form-control" name="dataNascimento" id="datanascimento" value="<%= cliente.dataNascimento %>" readonly>
                </div>
                <div class="form-group col-md-4">
                    <label for="saldoDevedor">Saldo devedor</label>
                    <input type="text" class="form-control" name="saldoDevedor" id="saldodevedor" value="<%= cliente.saldoDevedor %>" required>
                </div>
            </div>
            <button type="submit" class="btn btn-success float-right">Atualizar Cliente</button>
        </form>
    <% } else { %>
        <p class="text-center">Cliente não enontrado. Clique <a href="/add">aqui</a> para adicionar um cliente.</p>
    <% } %>
</div>
</div>
</body>
</html>
